<br>
<div class="form-group">
  <label for="calo">Search for ingredient</label>
  <input type="text" class="form-control" style="width: 10%;"  name="fruit" placeholder="Enter ingredient name" #fruit/>
</div>
 
<br>
<input class="btn btn-outline-secondary" value="Add"  (click)= "getIngredientbyName(fruit.value)">
<span></span>  <span></span>
<input class="btn btn-outline-secondary" value="Remove"  (click)= "removeIngredient(fruit.value)">
<br>
<br>
<div class="form-group">
  <label for="calo">Smoothie Name</label>
  <input type="text" class="form-control" style="width: 10%;" id="name" placeholder="Enter smoothie name" #name />
</div>
<br>
<div class="form-group">
  <label for="carb">Description</label>
</div>
<textarea id="subject" name="subject" placeholder="Enter smoothie description" id="descrip"  #descrip></textarea>
<br>
<div class="form-group">
  <label for="carb">Image URL</label>
  <input type="text" class="form-control"  id="url" style="width: 50%;" placeholder="Enter smoothie image url" #url />
</div>
<br>
<label>Fruits</label>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Calories</th>
        <th scope="col">Carbohydrates (g)</th>
        <th scope="col">Protein (g)</th>
        <th scope="col">Fat (g)</th>
        <th scope="col">Sugar (g)</th>
      </tr>
    </thead>
    <tbody *ngFor='let ingredient of smoothie'>
        <tr>
          <td>{{ingredient.name}}</td>
          <td>{{ingredient.nutritions.calories}}</td>
          <td>{{ingredient.nutritions.carbohydrates}}</td>
          <td>{{ingredient.nutritions.protein}}</td>
          <td>{{ingredient.nutritions.fat}}</td>
          <td>{{ingredient.nutritions.sugar}}</td>
        </tr>
        <tr>
      </tbody>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Total Calories</th>
        <th scope="col">Total Carbohydrates (g)</th>
        <th scope="col">Total Protein (g)</th>
        <th scope="col">Total Fat (g)</th>
        <th scope="col">Total Sugar (g)</th>
      </tr>
    </thead>
    <tbody >
        <tr>
          <td></td>
          <td>{{totalCalo | number}}</td>
          <td>{{totalCarbs | number}}</td>
          <td>{{totalProt | number}}</td>
          <td>{{totalPhat | number}}</td>
          <td>{{totalSuga | number}}</td>
        </tr>
        <tr>
      </tbody>
  </table>

  <input class="btn btn-outline-secondary" value="Blend"  (click)= "createSmoothie(name.value, descrip.value, url.value)">
