<div class="form-group">
    <label for="name">Name Your Smoothie</label>
    <input type="text" class="form-control" id="name" placeholder="Smoothie Name" #name />
</div>
<!-- Fields  for ingredients-->

<div class="form-group">
    <label for="ingredient1">Ingredient</label>
    <input type="text" class="form-control" id="ingredient1" placeholder="Ingredient" #ingredient />
</div>
<div class="form-group">
    <label for="ingredient2">Ingredient</label>
    <input type="text" class="form-control" id="ingredient2" placeholder="Ingredient" #ingredient />
</div>
<div class="form-group">
    <label for="ingredient3">Ingredient</label>
    <input type="text" class="form-control" id="ingredient3" placeholder="Ingredient" #ingredient />
</div>
<div class="form-group">
    <label for="ingredient4">Ingredient</label>
    <input type="text" class="form-control" id="ingredient4" placeholder="Ingredient" #ingredient />
</div>
<input class="btn btn-outline-secondary" value="Create Smoothie"
    (click)="register(name.value)">