<h1>
    
</h1>
<br>
<br>
<p>
    Welcome to Blender Buddies! A web application where you can create and view smoothies that meet your nutritional needs, or just tingle your tastebuds!
    Simply create an account and begin crafting your smoothie recipes.
    Ingredients used in this application contain information on several different nutrional values like calories, fat, carbohydrates, and protein, and when you create a smoothie, it will also display the nutritional information based on the ingredients you selected.
</p>
