<div>
  <h1>
    Ingredients
  </h1>
  <input class="btn btn-outline-secondary" (click)="ingredHider()" value="Make New Ingredient" />
  <div *ngIf="someBoolean">
    <div>
      Add New Ingredient
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter Ingredient Name" #name />
    </div>

    <br>

    <div>
      Nutrition:
    </div>
    <div class="form-group">
      <label for="carb">Carbohydrates</label>
      <input type="number" class="form-control" id="carb" #carb />
    </div>
    <div class="form-group">
      <label for="prot">Protein</label>
      <input type="number" class="form-control" id="prot" #prot />
    </div>
    <div class="form-group">
      <label for="phat">Fat</label>
      <input type="number" class="form-control" id="phat" #phat />
    </div>
    <div class="form-group">
      <label for="calo">Calories</label>
      <input type="number" class="form-control" id="calo" #calo />
    </div>
    <div class="form-group">
      <label for="suga">Sugar</label>
      <input type="number" class="form-control" id="suga" #suga />
    </div>
    <button class="btn btn-outline-secondary" value="Submit"
      >Submit</button>
      <!-- (click)="registerIngredient(name.value, carb.value, prot.value, phat.value, calo.value, suga.value)" -->
  </div>
</div>

<h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Calories</th>
        <th scope="col">Carbohydrates</th>
        <th scope="col">Protein</th>
        <th scope="col">Fat</th>
        <th scope="col">Sugar</th>
      </tr>
    </thead>
    <tbody *ngFor='let ingredient of ingredients | unique'>
      <tr>
        <td>{{ingredient.name}}</td>
        <td>{{ingredient.nutritions.calories}}</td>
        <td>{{ingredient.nutritions.carbohydrates}}</td>
        <td>{{ingredient.nutritions.protein}}</td>
        <td>{{ingredient.nutritions.fat}}</td>
        <td>{{ingredient.nutritions.sugar}}</td>
      </tr>
      <tr>
    </tbody>
  </table>
</h3>
<!-- <input class="inputstyle" type="text" name="username" #username> -->
<!-- <input class="btn btn-outline-secondary" value="Search" (click)="getAll()" > -->

