
input {
  border: 1px solid black;
  background-color: #ffffff85;
}

.btn {
  background-image: url(../../../assets/LEMON-PATTERN.jpg);
  color: purple;
  font-weight: 650;
}

label{
    font-size: x-large;
    font-weight: 450;
}
