.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-image: url(../../../assets/MIXED.jpg);
    background-size: cover;
    background-repeat: no-repeat
}

.btn{
    background-image: url(../../../assets/LEMON-PATTERN.jpg);
    color: purple;
    font-weight: 650;
}
p{
    color: black;
    font-size: large;
    font-weight: 450;
}
