<nav class="navbar sticky-top navbar-expand-lg ">
    <!-- <a class="navbar-brand" routerLink=''><img src="assets/revature-logo.png" style="height: 2.5em;"></a> -->
    <ul class="navbar-nav me-auto">
        <img src="../../../assets/STRAWBERRY CHERRY.png" alt="">
        <li class='nav-item'>
            <a class='nav-link' routerLink=''>Home</a>
        </li>        
        <li class='nav-item'>
            <a class='nav-link' routerLink='profile' *ngIf="isUser || isAdmin">Profile</a>

        </li>

        <li class='nav-item'>
            <a class='nav-link' routerLink='ingredients' *ngIf="isAdmin">View Ingredients</a>

        </li>
        <li class='nav-item'>
            <a class='nav-link' routerLink='smoothies' *ngIf="isAdmin || isUser">View Smoothies</a>

        </li>
        <li class='nav-item'>
            <a class='nav-link' routerLink='smoothie-form' *ngIf="isAdmin || isUser">Create a Smoothie</a>

        </li>
        <li class='nav-item'>
            <a class='nav-link' routerLink='users' *ngIf="isAdmin">View User List</a>

        </li>

    </ul>
    <ul class="navbar-nav ms-auto">
        <li class='nav-item'>
            <a class='nav-link' routerLink='login' *ngIf="!isUser && !isAdmin">Login</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' routerLink='login' *ngIf="isUser || isAdmin" (click)="logout()">Logout</a>
        </li>
    </ul>
</nav>