<nav class="navbar sticky-top navbar-expand-lg ">
    <!-- <a class="navbar-brand" routerLink=''><img src="assets/revature-logo.png" style="height: 2.5em;"></a> -->
    <ul class="navbar-nav me-auto">
        <li class='nav-item'>
            <a class='nav-link' routerLink=''>Home</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' routerLink='userdash' *ngIf="isUser">Dash</a>

        </li>
        <!-- Add Drop down menu to display User Actions -->

        <li class='nav-item'>
            <a class='nav-link' routerLink='admindash' *ngIf="isAdmin">Admin Dash</a>

        </li>
        <!-- Add Drop down menu to display Admin Actions -->

        <li class='nav-item'>
            <a class='nav-link' routerLink='profile' *ngIf="isUser || isAdmin">Profile</a>

        </li>
        
    </ul>
    <ul class="navbar-nav ms-auto">
        <li class='nav-item'>
            <a class='nav-link' routerLink='login'*ngIf="!isUser && !isAdmin">Login</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' routerLink='login' *ngIf="isUser || isAdmin" (click)="logout()">Logout</a>
        </li>
    </ul>
</nav>