<nav class="navbar sticky-top navbar-expand-lg ">
    <!-- <a class="navbar-brand" routerLink=''><img src="assets/revature-logo.png" style="height: 2.5em;"></a> -->
    <ul class="navbar-nav me-auto">
        <li class='nav-item'>
            <a class='nav-link' routerLink=''>Home</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' routerLink='userdash'>Dash</a>

        </li>
        <li class='nav-item'>
            <a class='nav-link' routerLink='admindash'>Admin Dash</a>

        </li>
        <li class='nav-item'>
            <a class='nav-link' routerLink='profile'>Profile</a>

        </li>
        
    </ul>
    <ul class="navbar-nav ms-auto">
        <li class='nav-item'>
            <a class='nav-link' routerLink='login'>Login</a>
        </li>
    </ul>
</nav>
