<br>
<h1>{{smoothie.name}}</h1>

<div class="container">
<img src={{smoothie.url}} />
</div>

<label>Description</label>
<h4>{{smoothie.descrip}}</h4>

<label>Recipe</label>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Calories</th>
      <th scope="col">Carbohydrates (g)</th>
      <th scope="col">Protein (g)</th>
      <th scope="col">Fat (g)</th>
      <th scope="col">Sugar (g)</th>
    </tr>
  </thead>
  <tbody *ngFor='let ingredient of recipe'>
    <tr>
      <td>{{ingredient.name}}</td>
      <td>{{ingredient.nutritions.calories}}</td>
      <td>{{ingredient.nutritions.carbohydrates}}</td>
      <td>{{ingredient.nutritions.protein}}</td>
      <td>{{ingredient.nutritions.fat}}</td>
      <td>{{ingredient.nutritions.sugar}}</td>
    </tr>
    <tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Total Calories</th>
      <th scope="col">Total Carbohydrates (g)</th>
      <th scope="col">Total Protein (g)</th>
      <th scope="col">Total Fat (g)</th>
      <th scope="col">Total Sugar (g)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>{{totalCalo | number}}</td>
      <td>{{totalCarbs | number}}</td>
      <td>{{totalProt | number}}</td>
      <td>{{totalPhat | number}}</td>
      <td>{{totalSuga | number}}</td>
    </tr>
    <tr>
  </tbody>
</table>
