<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-3">
            <div class="card-sl">
                <div class="card-image">
                    <img
                        src="https://hips.hearstapps.com/del.h-cdn.co/assets/16/19/1462829771-sunshine-daydream.jpg" />
                </div>

                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                <div id="smoothie_name" class="card-heading">
                    Sunshine Dream
                </div>
                <div id="smoothie_descrip" class="card-text">
                    Sunshine Dream is a smoothie that seemingly has strawberries and peaches?
                </div>
                <!-- <div class="card-text">
                    $67,400
                </div> -->
                <a class="card-button"> See Recipe</a>
            </div>
        </div>
    </div>  
