.btn{
    background-image: url(../../../assets/LEMON-PATTERN.jpg);
    color: purple;
    font-weight: 650;
}

input{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

label{
    font-size: x-large;
    font-weight: 350;
}